## Executive Summary

<table>
  <tr>
    <td>KPI</td>
    <td>Health</td>
    <td>Next Steps</td>
  </tr>
  <% key_performance_indicators.each do |kpi| %>
  <tr>
    <td><a href="#<%= kpi.name.parameterize %>"><%= kpi.name %></a></td>
    <td><%= color_code_health kpi.health.level %></td>
    <td><% kpi.next_steps.each do |next_step| %>
      <li><%= next_step %></li>
    <% end %></td>
  </tr>
  <% end %>
</table>

## Key Performance Indicators

<% key_performance_indicators.each do |kpi| %>
  <%= partial 'includes/performance_indicator', locals: { performance_indicator: kpi } %>
<% end %>

## Regular Performance Indicators

<% regular_performance_indicators.each do |rpi| %>
  <%= partial 'includes/performance_indicator', locals: { performance_indicator: rpi } %>
<% end %>

## Legends

### Maturity

| Level | Meaning |
| <%= color_code_maturity(3) %> | Meets full definition of KPI above |
| <%= color_code_maturity(2) %> | About two-thirds done. <i>E.g.</i> Missing one of: automated data collection, defined threshold, or periscope dashboard. |
| <%= color_code_maturity(1) %> | About one-third done. <i>E.g.</i> Has one of: automated data collection, defined threshold, or periscope dashboard. |
| <%= color_code_maturity(0) %> | We only have an idea or a plan. |

### Health

| Level | Meaning |
| <%= color_code_health(3) %> | The KPI is at an acceptable level compared to the threshold |
| <%= color_code_health(2) %> | This is a blip, or we’re going to watch it, or we just need to enact a proven intervention |
| <%= color_code_health(1) %> | We'll prioritize our efforts here |
| <%= color_code_health(0) %> | Unknown |
